<div class="form-group">
  <label for="">Search</label>
  <div>
    <input type="text" placeholder="Search categories" [formControl]="searchTerm" >
  </div>

</div>




<dar-articles-list [articles]="articles$ | async" (rowClicked)="rowClickedHandler($event)">

</dar-articles-list>
