<div class="form-group">
  <label for="">Search</label>
  <div>
    <input type="text" placeholder="Search categories" [(ngModel)] = "searchTerm" (ngModelChange)="modelChange()">
    <button [disabled]="searchTerm.length < 3" (click) = "onSearchClick()">Search</button>
  </div>

</div>

<dar-categories-list [categories]="categories$ | async" ></dar-categories-list>
