<div class="app-content" style="text-align: center">
    <h1>{{ greetingsText + projectName }}!</h1>
    <img
      width="450"
      src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
    />
    <button type="button" (click)="sayHello()" > Say hello</button>
  <div>Message:</div>
</div>
