:host {
    background-color: #eee;
    width: 30%;
}
.app-sidenav{
    height: 100%;

    .nav-list{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .nav-item{
        font-size: 1.2rem;
        margin-bottom: 0.7rem;
        a{
            text-decoration: none;

            &.active{
                font-weight: bold;
            }
        }

        &.disabled{
            a{
                color: #5f6163;
                pointer-events: none;
            }
            
        }

    }

}
