<div *ngIf="category">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="category-detail">
      {{ category.id}}
    </div>
    <div class="form-group">
        <label>Title</label>
        <input type="text" formControlName="title">
        <div class="error" *ngIf="form.controls.title.errors">
          <div *ngIf="form.controls.title.errors.required">
            This field is required
          </div>
        </div>
    </div>
    <div class="form-group">
      <label>Sort</label>
      <input type="text" formControlName="sort">
  </div>
  <button type="submit" [disabled]="!form.valid">Save</button>
  </form>


</div>
