
  <dar_header></dar_header>
  <div class="app-container">
    <dar-sidenav></dar-sidenav>
    <div class="app-content" style="text-align: center">
      <router-outlet></router-outlet>
    </div>
  </div>
  <dar_footer></dar_footer>

