:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.app-container{
  flex:1;
  display: flex;
}

.app-content{
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 116px);
  
}